html
  body
    form(
      action="/newthought"
      method="POST"
    )
      input(name="thought" placeholder="Type a thought here")
      input(
        type="submit"
        value="Submit"
        )
    
    form(
      action="/"
      method="POST"
    )
      .thought 
        label(
          for="thought1_id"
        ) Thought 1
          select(
            name="thought1_id"
          )
            option(
              name="no_category"
            ) No Category
            option(
              name="category1"
            ) Category 1
            option(
              name = "category1"
            ) Category 2
            option(
              name = "category1"
            ) Category 3
      .thought
        label(
          for= "thought2_id"
        ) Thought 2
          select(
            name = "thought2_id"
          )
            option(
              name = "no_category"
              value = "no_category"
            ) No Category
            option(
              name = "category1"
            ) Category 1
            option(
              name = "category1"
            ) Category 2
            option(
              name = "category1"
            ) Category 3
        .thought
          label(
          for= "thought3_id"
        ) Thought 3
            select(
              name = "thought3_id"
            )
              option(
                name = "no_category"
                value = "no_category"
              ) No Category
              option(
                name = "category1"
              ) Category 1
              option(
                name = "category1"
              ) Category 2
              option(
                name = "category1"
              ) Category 3
          .thought
            label(
            for= "thought4_id"
          ) Thought 4
              select(
                name = "thought4_id"
              )
                option(
                  name = "no_category"
                  value = "no_category"
                ) No Category
                option(
                  name = "category1"
                ) Category 1
                option(
                  name = "category1"
                ) Category 2
                option(
                  name = "category1"
                ) Category 3
              input(
                type="submit"
                value="Submit"
                )