html 
  body 
    form(
      action = "/newthought"
      method = "POST"
    )
    input(name = "thought" placeholder = "Type a thought here")
    input(
      type = "submit"
      value = "Submit"
    )
    form(
      action="/"
      method="POST"
    )
      each thoughts, category in formData 
        each thought, thoughtID in thoughts 
          .thought
            label(for=thoughtID)=thought[0]
              select(name=thoughtID)
                each cat, catID in categories
                  if cat==category
                    option(
                      name=cat
                      selected
                      )=cat
                  else 
                    option(name=cat)=cat
      input(
        type="submit"
        value="Submit"
      )